/* Estilo personalizado para o corpo */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo personalizado para o contêiner */
.container {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Estilo personalizado para o título */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0056b3; /* Azul da NASA */
}

/* Estilo personalizado para o parágrafo */
p {
    text-align: center;
    color: #666;
}
