<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/faviconmschelp.ico">
    <title>Bem-Vindo</title>
    <!-- Adicionando Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Importando o arquivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bem_vindo.css') }}">
  


</head>
<body>
    <div class="container">
        <h2>Bem-vindo, <span id="username">{{ usuario }}</span>!</h2>
        <p>Você foi autenticado com sucesso.</p>
    </div>
    
    <script src="{{ url_for('static', filename='js/primaletra.js') }}"></script>
</body>
</html>
